.chat-main
  .main-header
    .main-header__group-info
      .main-header__group-info__group-name
        gassys
      .main-header__group-info__member-list
        member : gassy gagagassy
    .main-header__edit-btn
      =link_to "#" do
        Edit
  .chat-room
    .messages
      .messages__user-name
        gassy
        .messages__user-name__date
          2019/12/04(tue) 24:40:40
      .messages__message
        This is SECOND TRY!!
    .messages2
      .messages2__user-name
        gassy2
        .messages2__user-name__date
          2019/12/04(tue) 25:10:00
      .messages2__message
        Too sleepy!!
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content,class: 'input-message', placeholder: "type a message"
      .edit 
        = f.label :image, class: 'edit__img' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'edit__img__file'
      = f.submit 'Send', class: 'submit'