.chat-side
  .side-header
    .side-header__top-item
      .side-header__top-item__user-name
        = current_user.name
      .side-header__top-item__icons
        = link_to new_group_path, class: "side-header__top-item__edit" do
          = icon('fas', 'edit',class: "side-header__top-item__icons__edit--btn")
        = link_to edit_user_path(current_user), class: "side-header__top-item__icons__setting" do
          = icon('fas', 'cog',class: "side-header__top-item__icons__setting--btn")
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.last_message